// IMPORT AREA
@import './variables.scss';


// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// COMMON
.container {
    width: 70%;
    margin: auto;
}



// img
img { 
    max-width: 100%;
}

